<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script type="text/javascript" src="../javascript/jquery-lib.js"></script>
    <script type="text/javascript" src="../javascript/post-jquery.js"></script>
</head>

<body>
    <section class="container">
        <nav id="menu">
            <ul>
                <li> <a href="/">Cadastro</a> </li>
                <li> <a href="/consulta">Consulta</a></li>
            </ul>
        </nav>
    </section>
    <br><br>
    <section class="container">
        <label for="filterNome" class="col-sm-3 col-md-2 control-label">Nome:</label>
        <input type="text" name="Nome" id="filterNome" class="form-control" placeholder="Preencha o nome do aluno " required>
        <br>
        <button id="btnEnvia" class="btn btn-primary" onclick="Alunos.findByName()">
            Buscar
        </button>


        </div>
    </section>
    <section class="container">
        <table id="tabelaConsulta" class="table mt-5">
            <tr>
                <th scope="col">Nome do aluno</th>
                <th scope="col">Nome do pai</th>
                <th scope="col">Nome da mãe</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Ações</th>
            </tr>
        </table>
    </section>
</body>

</html>