@media (max-width:766px){.navbar-nav > li > .dropdown-menu{background:#ddd none repeat scroll 0 0;margin-left:65px;margin-top:-40px;}
.dropdown-menu{box-shadow:none;}
.social-profiles{margin-bottom:25px;}
.skill-header{margin-bottom:20px;}
.promo-button h2{line-height:30px;}
.member-details{padding:18px 0;}
.carousel-indicators li{background-color:#66cbff;border:1px solid #66cbff;}
#map-canvas{margin-bottom:30px;}
}
@media (min-width:768px) and (max-width:991px){.nav > li > a{padding:10px 13px;}
.navbar-header{margin-bottom:10px;}
.member-details{margin-top:85px;}
.member-img{max-width:100%;}
.social-profiles{margin-bottom:0;}
.carousel-indicators li{background-color:#66cbff;border:1px solid #66cbff;}
#map-canvas{margin-bottom:30px;}
.promo-button h2{line-height:30px;}
.promo-button a{margin-top:23px;}
}
@media only screen and (max-width:480px){#gallery .gallery-filter{list-style:none;padding:0;margin:0 0 12px;}
#gallery .gallery-filter > li a{display:block;padding:7px 15px;margin:5px 2px;}
#gallery .gallery-item{width:48.9%;padding:8px;}
#gallery .gallery-item .gallery-item-inner .gallery-info .preview{width:28px;height:24px;line-height:24px;margin:56px auto;}
#gallery .gallery-item .gallery-item-inner .gallery-info{padding:7px 0 0;}
}
@media (max-width:766px){#fn-home-carousel .controls li{padding:30px 10px;}
#fn-home-carousel .controls li span{display:none;}
#fn-home-carousel .carousel-caption{margin-top:-65px;}
#fn-home-carousel .carousel-caption h1{font-size:22px;line-height:35px;letter-spacing:0px;margin-bottom:0;}
#fn-home-carousel .carousel-caption p{font-size:10px;margin-bottom:15px;}
#fn-home-carousel .carousel-caption .btn{font-size:14px;padding:10px 30px;}
#fn-home-carousel > .item-prev{top:65%;}
#fn-home-carousel > .item-next{top:65%;}
}
@media (min-width:768px) and (max-width:991px){#fn-home-carousel .controls li{padding:30px 10px;}
#fn-home-carousel .carousel-caption{margin-top:-142px;}
#fn-home-carousel .carousel-caption h1{font-size:60px;line-height:44px;letter-spacing:-3px;margin-bottom:30px;}
}
@media only screen and (min-width:480px) and (max-width:767px){#fn-home-carousel .controls li{padding:30px 10px;}
#fn-home-carousel .controls li span{font-size:14px;display:block;}
#fn-home-carousel .carousel-caption{margin-top:-95px;}
#fn-home-carousel .carousel-caption h1{font-size:33px;line-height:56px;}
#fn-home-carousel .carousel-caption p{font-size:14px;margin-bottom:25px;}
}
@media only screen and (max-width:480px){}